.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-left: 8%;
}

.avatar {
  height: 3em;
  width: 3em;
  border-radius: 100px;
}

.user-greeting {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .user-greeting {
    margin: 0;
  }
  .avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 73%;
    margin-top: 0;
  }

  .avatar {
    height: 3em;
    width: 3em;
    border-radius: 100px;
  }
}
