.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  margin: 1.5em;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
