.modal-wrapper {
  position: fixed;
  z-index: 1;
  padding-top: 7em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.close-modal {
  color: black;
  align-self: flex-start;
  border: 1px solid black;
  padding: 0.5em;
}

.close-modal:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.modal-content {
  margin: auto;
  background-color: white;
  padding: 4em;
  border: 0.25em solid black;
  height: 60vh;
  width: 50vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-description {
  width: 100%;
  padding: 1em;
  text-align: start;
}

.post-submit-btn {
  margin: 1em;
  cursor: pointer;
}

.post-submit-btn:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
