.post-details-section {
  display: grid;
  grid-template-areas:
    'content'
    'comments';
  gap: 2em;
}

@media screen and (min-width: 1200px) {
  .post-details-section {
    grid-template-areas: 'content comments';
    gap: 2em;
  }
}
